
<section class="py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="row gx-4 gx-lg-5 align-items-center">
			<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" style="height: 500px; width: 500px;"  [src]="product.image" alt="..." /></div>
			<div class="col-md-6">
				<div class="small mb-1">{{product.id}}</div>
				<h1 class="display-7 fw-bolder">{{product.title}}
				</h1>
				<div class="fs-5 mb-5">
					<span class="text-decoration-line-through">$45.00</span>
					<span>₹ {{product.price}}</span>
				</div>
				<p class="lead">{{product.description}}</p>
				<div class="d-flex">
					<a  (click)="addToCart(product)" class="btn btn-outline-dark text-light mt-3" type="submit">
						<i    class="fa-solid fa-cart-shopping me-1" ></i>
						Add To Cart
						
					</a>

					<button (click)="addToWishlist()"  class="btn text-light btn-outline-dark ms-3 mt-3" type="submit">
						<i class="fa-solid fa-heart text-light me-1 text-danger"></i>
						Add To Wishlist
						
					</button>
				</div>
			</div>
		</div>
	</div>
</section>